

.innerheading{
  border:5px solid #8D9EFF;
  padding: 40px 40px;
  border-width: thin;
}

body.dark-mode {
  background-color: black;
  color: white;
}

input[type = "checkbox"]:checked ~ .innerheading{
  background: black;
  color: white;
  /* box-shadow: 0 0 0 12px #8D72E1; */

}
